﻿body {
    font-family: 'Montserrat', sans-serif;
}
.chatBotBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}
.chatBot {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: rgba(255,255,255,1) !important;
    min-width: 25vw;
    height: 98vh;
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    .chatBot {
        min-width: 97vw;
    }
}
.loginBG {
    background-image: url("../img/loginbga.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
}
.opacitydiv {
    opacity: 0.7;
}
